body{
    background-color: #333;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div{
    padding: 3rem;
    font-size: 2rem;
    color: aqua;
    max-width: 500px;
    border: 2px solid firebrick;
}